.box {
    text-align: center;
}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1% 2%;
}

.header-text {
    color: hsl(0, 0%, 29%)
}

.card {
    width: 50vw;
}

@media only screen and (max-width: 600px) {
    .results-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1% 1%;
    }

    .card {
        width: 80vw;
    }
  }